*{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    font-size:30px;
}
body{
    background-color: #F3F5FC;
}
#cabezaDePagina{
    width: 50%;
    margin-right: 50%;
    margin-top: -100px;
}

#logoAlura{
    padding-left:80px;
    max-width:31.09px;
    max-height:47px ;
    
}
#papa{
    margin-left: 100px;
    margin-top: 45px;
    margin-bottom: 130px;
}


#cajaMuñeco{
    background-color:#ffffff;
    width: 20%;
    float: right;
    margin-right: 50px;
    margin-left: 50px;
    padding-bottom: 100px;
    margin-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius:20px;

    
    
}
#muñeco{
    width: 70%;
    height: 70%;
    margin-left: 65px;
    margin-top: 200px;

    
    

}

#mensajeEncriptado{
    font-family:'Inter', sans-serif; 
    color: #343c44;
    margin-left:20px;
    margin-top:100px;
    font-size: 900;
    text-align: center;
    text-shadow: #343c44;

     
}
#textoAEncriptar{
    color: #495057
    
}

#textoAencriptar{
    font-family:'Inter', sans-serif; 
    color: #0A3871;
    font-size: 16px;
    margin-left: 60px;
    margin-top:50px;
    text-align: center;   
}
#inputEncriptar{
    border: 0px solid red;
    outline: none;
    width: 450px;
    background-color: #F3F5FC;
    color:#0A3871
}
::placeholder { 
    color:#0A3871
}
#textoParaEncriptar{
    font-family:'Inter', sans-serif;
    color: #0A3871;
    width: 50%;
    float: inline-start;
    margin-top:100px;
    margin-left: 400px;
    
}
#botonEncriptar{
    color:#ffffff;
    font-family:'Inter', sans-serif;
    font-size: 47px;
    background-color: #0A3871;
    margin-top: 20px;
    border-radius: 20px;
    margin-left: 100px;
    padding-left: 35px;
    padding-right:35px;
    
}
#botonDesencriptar{
    color:#0A3871;
    font-family:'Inter', sans-serif;
    font-size: 47px;
    background-color:  #D8DFE8;
    margin-top: 20px;
    border-radius: 20px;
    padding-left: 35px;
    padding-right: 35px;
    

}

#aviso{
    color: #495057;
    font-family:'Inter', sans-serif;
    font-size: 20px;
    margin-top: 550px;
    margin-left: 300px;
}
#textoAviso{
    font-size: 25px;
    margin-left: -10px;
}
#avisoEnTexto{
    margin-left:100px;
    margin-top: 10px;
}



